* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  
  html{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
      background-image: url("niebo.jpg");
      background-size: cover;
      color:#fff;
  }
  
  .container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 0 auto;
  }
  .tile-styling{
    display: flex;
    width: 100%;  /*15rem dla pc*/
    height: 8rem;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    overflow: hidden;
    overflow-wrap: break-word;
  }
  .general-data-tile{
    display: flex;
    width: 100%;  /*15rem dla pc*/
    height: 8rem;
    margin: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }/*
  .forecast-tile{
  }
  .details-tile{
  }
  .sunandmoon-tile{
  }
  .precipitation-tile{
  }
  .wind-pressure-tile{
  }
  .map-tile{
  }
  */
  @media (min-width: 640px){
    .tile-styling{
      width: 48%;
    }/*18.75rem;*/
  }
  @media (min-width: 768px){
      .tile-styling{
          width: 48%;
      }/*23rem*/
  }
  @media (min-width: 1024px){
    .tile-styling{
      width: 48%;
    }
    .general-data-tile{
      width: 100%;
    }
  }
  
  .navbar {
      font-size: 12px;
      background-image: linear-gradient(90deg,#001911 0%, #242aba 50%, #ffffff 100%);
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 10px;
      position: relative;
      width: 100%;    
  }
  
  .main-nav {
      list-style-type: none;
      display: none;
  }
  
  .nav-links,
  .logo {
      text-decoration: none;
      color: rgba(255, 255, 255, 1);
  }
  
  .main-nav li {
      text-align: center;
      margin: 15px auto;
  }
  
  .logo {
      display: inline-block;
      font-size: 22px;
      margin: 15px 100px 10px 20px; 

  }
  
  .navbar-toggle {
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.8);
      font-size: 30px;
  }
  
  .active {
      display: block;
  }
  
  @media screen and (min-width: 768px) {
      .navbar {
          display: flex;
          justify-content: flex-start;
          padding-bottom: 0;
          height: 70px;
          align-items: center;
      }
  
      .main-nav {
          display: flex;
          margin-right: 30px;
          flex-direction: row;
          justify-content: flex-end;
      }
  
      .main-nav li {
          margin-top: 20;
      }
  
      .nav-links {
          margin-left: 40px;
      }
  
      .logo {
          margin-top: 0;
      }
  
      .navbar-toggle {
          display: none;
      }
  
      .logo:hover,
      .nav-links:hover {
          color: rgb(38, 167, 33);
      }
  }
  .look {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      border-radius: 10px;
  }
  
  .prompt {
      height: 40px;
      width: 100%;
      text-align: center;
      font-size: 1.2em;
      border-radius: 10px;
  }
  
  .suggestions {
      position: relative;
      max-height: 400px;
      top: 5px;
      overflow: auto;
  }
  
  .suggestions li {
      background: white;
      list-style: none;
      border-bottom: 1px solid #D8D8D8;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
      margin: 0;
      padding: 20px;
      height: 60px;
      transition: background 0.2s;
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
      cursor: pointer;
  }
  
  .defCityButt {
      position: relative;
      top: -35px;
      width: 50%;
      border-radius: 5px;
      margin: 5px;
      padding: 5px;
      background: #505050;
      border: 2px solid black;
      color: white;
  }
  
  span.population {
      font-size: 15px;
  }
  
  .fa-search,
  .fa-microphone,
  .fa-volume-up {
      padding: 10px;
      font-size: 2.2em;
      color: #aaa;
      cursor: pointer;
  }
  
  .fa-search:hover,
  .fa-microphone:hover,
  .fa-volume-up:hover {
      transform: scale(1.2)
  } 