* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --borderColor: #d8d8d8;
  --secondaryFontColor: #cccccc;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../img/niebo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%; /*do zmiany*/
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}
.column {
  display: flex;
  width: calc(100% - 30px);
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 15px;
}

@media (min-width: 768px) {
  .column {
    width: calc(50% - 30px);
  }
}

.tile-styling {
  display: flex;
  flex-direction: column;
  width: 100%; /*15rem dla pc*/
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  overflow: hidden;
  overflow-wrap: break-word;
}
.tile-styling h2 {
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--borderColor);
  font-size: 20px;
}
.tile-styling .content {
  margin-top: 5px;
  font-size: 14px;
}
.general-data-tile {
  display: flex;
  flex-direction: column;
  width: calc(100% - 30px);
  margin: 5px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.general-tile-localisation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.general-tile-buttons .btn:first-child {
  margin-right: 0.625rem;
}

.general-tile-header {
  font-size: 1.875rem;
}

@media (min-width: 360px) {
  .general-tile-header {
    margin-right: 1.875rem;
  }
}

.general-tile-minmax i {
  margin: 0 0.3125rem 0 0.625rem;
}

.general-tile-conditions {
  display: flex;
  align-items: center;
}

.general-tile-temp-now {
  font-size: 6rem;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
  .general-data-tile .column {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .general-data-tile {
    width: 100%;
  }
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  background-image: linear-gradient(90deg, #001911 0%, #242aba 100%);
  padding-bottom: 10px;
  position: relative;
  width: 100%;
}
.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__input {
  height: 40px;
  width: 100%;
  font-size: 1.2em;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 19px;
}

.form__container {
  position: relative;
}

.suggestions {
  position: absolute;
  top: 40px;
  left: 0;
  list-style: none;
  width: 100%;
}

.suggestions li {
  background: white;
  color: black;
  padding: 10px;
  border-bottom: 1px solid var(--borderColor);
}

.btn {
  border: 1px solid var(--borderColor);
  background: none;
  padding: 11px;
  cursor: pointer;
}

.fa-search,
.fa-location-arrow,
.fa-star {
  color: #fff;
  cursor: pointer;
}

.btn:hover i {
  transform: scale(1.2);
}

#airpressure div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 0;
  color: var(--secondaryFontColor);
}

#airhumidity div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 0;
  color: var(--secondaryFontColor);
}

.forecast {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

.forecast div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#useCurrentLocation {
  cursor: pointer;
}
.sunicons {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.windicon {
  margin-left: 20px;
  padding-bottom: 10px;
}
#tequilasunrise{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  font-size: 1.2em;
}

.sundiv {
   display: flex;
   flex-direction: column;
  align-items: center;
  }